.header-container-one{
    
    font-size: 150px;
    word-spacing: -10px;
    -webkit-text-stroke: 2px black;
    color: white;
    display:flex;
    margin-top: 70px;
}
.icon-container{
    display: inline-flex;
}
.top-icon{
    width:50px;
    height:50px;
}
li{
    list-style: none;
}

.li-first{
    display: flex;
    color: white;
    -webkit-text-stroke: 2px black;
    animation: simple 4s infinite;
}

.li-second{
    display: flex;
    color: white;
    -webkit-text-stroke: 2px black;
    animation: simple 4s infinite;
    animation-delay: 1s;
    
}

.li-third{
    display: flex;
    color: white;
    -webkit-text-stroke: 2px black;
    animation: simple 4s infinite;
    animation-delay: 2s;
}

@keyframes simple {

    25%{
        color: black;
    }
    100%{
        color: white;
    }
    
}

.container-header-two{
 margin-top: -125px;
 text-align: center;
 justify-content: center;
}

.siddhant{
    font-weight:800;
    font-size:30px;
    margin-top:5px;
}